* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clearfix {
    clear: both;
}
#header {
    height: 50px;
    line-height: 50px;
    background-color:#EEE8;
    font-size: 16px;
}

#header .h-left {
    float: left;
    padding-left: 20px;
}

#header .h-left img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: -7px;
}

#header .h-left a {
    color: #333;
    text-decoration: none;
}

#header .h-right {
    float: right;
    padding-right: 20px;
    
}
#header .h-right ul li {
    display: inline-block;
}

#header .h-right ul li:hover {
    background-color:#EE82EE;   
}


#header .h-right ul li a {
    color: aliceblue;
    text-decoration: none;
}

#container {
    /* margin: 0 auto; */
    text-align: center;
    

}

#container h2 {
    font-size: 25px;
    height: 50px;
    line-height: 50px;
}
hr {
    margin: 0 auto;
    width:50px;
    border: 2px solid #333;
}

#container .container-main {
   display: flex;
   padding: 0 50px;
}

#container .container-eontent {
    background-color: rgba(30, 91, 182, 0.1);
    border:1px solid lightskyblue;
    margin-right: 20px;
    width: 25%;
}

#container .container-eontent:hover {
    border: 1px solid rlightskyblue;
    background-color: rgba(30, 91, 182,0.3);

}

#container .container-eontent:last-child {
    margin-right: 0;
}

#container .container-eontent img {
    height: 350px;
    width: 300px;
    padding-top: 10px;
}


#footer {
    margin-top: 10px;
    background-color:#00BFFF;
    font-size: 16px;
    
}

#footer .f-top {
    height: 150px;
    line-height: 150px;
    margin: 0 50px;
    border-bottom: 1px solid #333;
}
#footer .f-top .left {
    margin-left: 50px;
    float: left;
    width: 60%;
}

#footer .f-top .right {
    float: left;
}

#footer .f-top .right img {
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

#footer .f-footer {
    height: 40px;
    line-height: 40px;
}
